<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeBillingManagement">
        <activity
            android:name=".Activities.RecipeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RawMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BillingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PrinterDiscoveryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DayCloseActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StockActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SaleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>